<!DOCTYPE html>
<html>
  <head>
    <title>serverless-observatory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/lib/dnt-helper/js/dnt-helper.js"></script>
    <link href="/static/lib/mui/packages/cdn/css/mui.min.css" rel="stylesheet">
    {% assets "css_all" %}
      <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
    <link rel="shortcut icon" href="/static/img/favicon.ico">
  </head>
  <body>

    {% block appbar %}
      <div class="mui-appbar">
        <div class="mui-col-sm-2 mui-col-xs-5 mui--text-right">
          <div class="brand">
            <a href="https://serverless-observatory.threatresponse.cloud" target="_blank">
               <img src="/static/img/logo.png" class="logo logo-large mui--hidden-md mui--hidden-sm">
            </a>
            <a href="https://serverless-observatory.threatresponse.cloud" target="_blank">
              <img src="/static/img/logo-m.png" class="logo logo-small mui--hidden-lg mui--hidden-xl mui--hidden-xs">
            </a>
          </div>
        </div>
        <div class="mui-col-sm-8 mui--hidden-xs">
          {% block search %}{% endblock %}
        </div>
        <div class="mui-col-sm-2 mui-col-xs-7 mui--text-left">
          {% block menu %}{% endblock %}
          {% block search_button %}{% endblock %}
        </div>
      </div>
    {% endblock %}

    {% block search_mobile %}{% endblock %}

    <div class="content {% block content_class %}{% endblock %}">
      <div class="mui-container">
        {% block content %}
        {% endblock %}
      </div>
    </div>


    {% block user_menu %}{% endblock %}
    
    {% block footer %}
      <footer>
        <div class="mui-container mui--text-center">
          <div class="icon-container">
            <div class="icon">
              <img class="footer-icon" src="/static/img/github.svg">
              <a target="_blank" href="https://github.com/threatresponse/serverless-observatory" target="_blank">Contribute</a>
            </div>
          </div>
        </div>
      </footer>
    {% endblock %}

    <script src="/static/lib/jquery/dist/jquery.min.js"></script>
    {% assets "js_all" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </body>
</html>
